@import "../../vars.css";

.menu {
  list-style-type: upper-roman;
  padding: 5%;
  background-color: rgb(255, 0, 0);
  text-align: center;
}
.box {
  height: 200px;
  margin: auto;
  width: 50%;
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;
  position: relative;
}

.parallelogram {
  width: 100px;
  height: 60px;
  transform: skew(30deg);
  background-color: white;
  margin: auto;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.child :hover {
  width: 80px;
  height: 40px;
  background-color: red;
  transform: skew(20deg);
  position: absolute;
  top: 50px;
  left: 200px;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 4px;
    top: 0px;
    width: 140px;
    height: 70px;
    transform: skew(30deg);
  }
  50% {
    left: 4px;
    top: 4px;
    width: 120px;
    height: 50px;
    transform: skew(-20deg);
  }
  75% {
    left: 0px;
    top: 4px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.text {
  transform: skew(-20deg); /* UNSKEW */
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
