@import "../../vars.css";

.menu {
  list-style-type: upper-roman;
  padding: 5%;
  background-color: rgb(255, 0, 0);
  text-align: center;
}
.box {
  height: 200px;
  margin: auto;
  width: 50%;
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;
  position: relative;
}

.parallelogram {
  width: 100px;
  height: 65px;
  transform: skew(30deg);
  background-color: white;
  margin: auto;
  position: relative;
}
.parallelogram:hover {
  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.child {
  top: 50px;
  left: 200px;
  width: 80px;
  height: 40px;
  background-color: red;
  transform: skew(30deg);
  position: absolute;
}
.child:hover {
  border-color: aqua;
  border-style: solid;
  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
  }
  25% {
    rotate: 5deg;
  }
  50% {
    transform: skew(10deg);
  }
  75% {
    rotate: -5deg;
  }
  100% {
  }
}

.text {
  transform: skew(-30deg); /* UNSKEW */
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
