@import "../../vars.css";

.flexContainer {
  display: flex;
}

.flexChild {
  flex: 1;
  border: 5px solid rgb(56, 56, 56);
}

.flexChild:first-child {
  margin-right: 0px;
}
.box {
  height: 200px;
  margin: auto;
  width: 50%;
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;
  position: relative;
}

.container {
  margin: auto;
  position: relative;
}

.parallelogram {
  width: 100px;
  height: 65px;
  transform: skew(30deg);
  background-color: white;
  margin: auto;
  position: relative;
}
.parallelogram:hover {
  animation-name: wiggleAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.child {
  top: 50px;
  left: 50%;
  width: 80px;
  height: 40px;
  background-color: red;
  transform: skew(30deg);
  position: absolute;
}
.child:hover {
  animation-name: wiggleAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wiggleAnimation {
  0% {
  }
  25% {
    rotate: 5deg;
  }
  50% {
    transform: skew(10deg);
  }
  75% {
    rotate: -5deg;
  }
  100% {
  }
}

.text {
  transform: skew(-30deg); /* UNSKEW */
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text:hover {
  animation-name: wiggleAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.imageAlignRight {
  float: right;
  margin-left: 10px; /* Add some space between the image and text */
  max-width: 100%;
}
