@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 62px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-Righteous);
  text-decoration: none;
  padding-bottom: 40px;

  color: var(--color-text);
}

.menuItems {
  display: flex;
  list-style: none;
}

.item {
  position: relative;

  margin-left: 20px;
  margin-right: 20px;

  text-decoration: none;
  margin-bottom: 50px;
}

.linktext {
  font-size: 2em;
  width: 100px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-decoration: none;
  font-family: var(--font-black-ops);
}
.item:hover .linktext {
  color: #ff8800;
}
