@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(https://fonts.googleapis.com/css?family=Righteous);

:root {
  /* colours */
  --color-text: #ffffff;
  --color-primary: hsl(228, 68%, 62%);
  --color-secondary: #5ecdff;
  --color-dark: #800000;
  --color-bg: #747474;

  /* Fonts */
  --font-black-ops: "Black Ops One";
  --font-Righteous: "Righteous";
  --font-permanent-marker: "permanent-marker";
}
